<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Team MCP Crime App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<header class='main-header'>
  <!--<img src="/images/chiskyline.jpg" alt="Chicago"> -->
  <div class="form-container">
    <h1>Chicago Crime Analysis</h1>
    <form action="/gets/street" method="get">
      <div>
        <label for="street">Enter Street:</label>
        <input id='searchstreet' type="text" id="street" name="street" value="">
        <input type="submit" value="Submit">
      </div> 
    </form>

    <form action="/gets/year" method="get">
      <div>
        <label for="date">Select Date:</label>
        <input id='date' type="number" min="1900" max="2099" step="1" name="year" value=""/>
        <input type="submit" value="Submit">
      </div>
    </form>

    <form action="gets/crimes" method="get">
      <div>
        <label for="crimeTypeSelect">Search By Crime Type:</label>
        {{!-- <select id="crimeTypeSelect">
          <option value="">--Select type--</option>
      </select> --}}
      <select name="crimeType" class="crimeType" id="crimeType">
        {{#each crimes}}
            <option>{{this.name}}</option>
        {{/each}}
      </select>
      <input type="submit" value="Submit">
    </form>
  </div>
</header>

<body>
  {{{body}}}

  <div class="fixed-footer">
    <div class="container">ITMD-567 Team MCP</div>
  </div>

</body>

</html>