<h2 id="mainHead">
  <img src="/images/homeLogo.jpg" id="homeLogo" alt="Crime Logo"><span id="headSpan">Chicago Crime Data</span>
</h2>
<form name="Form">
  <div class="grid-container">
    {{!-- <div class="form-group grid-item">
      <label for="searchBlock">Search By Block Name :</label>
      <input type="text" name="searchBlock" placeholder="Enter Block Name.." id="blockNameSearch" />
      <button type="button" name="Submit" id="btnBlockNameSubmit" onclick="searchByStreet()">Search</button>
    </div> --}}
    
    <!--<div class="form-group grid-item">
        <label for="searchByYear">Search By Year:</label>
        <input type="month" id="searchByYear" name="searchByYear" min="1900-01" value="2020-01" />
        <button type="button" name="Submit" id="btnYearSubmit" onclick="searchByYear()">Search</button>
    </div>-->
  </div>
  <div class="main">
    {{#each crimes}}
    <div class="column">
      <div class="card">
        <p>{{this.block}}</p>
        <p>{{this.primary_type}}</p>
        <p>{{this.date}}</p>
      </div>
    </div>
    {{/each}}
  </div>