<h2 id="mainHead">
    <img src="/images/homeLogo.jpg" id="homeLogo" alt="Crime Logo"><span id="headSpan">Chicago Crime Data</span>
</h2>
<form name="Form">
    <div class="form-group">
        <label for="searchBlock">Block Name :</label>
        <input type="text" name="searchBlock" placeholder="Enter Block Name.." id="blockNameSearch"/>
        <button type="button" name="Submit" id="btnBlockNameSubmit" onclick="SearchStreet()">Submit</button>
    </div>
</form>
<h3>Most recent crimes:</h3>
<div id="tableArea">
  <table cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr>
      <td>
        <table class="tableDisp" id="recentCrimesTable" overflow="auto" cellspacing="0" cellpadding="1" border="1" width="100%" >
        </table>
      </td>
    </tr>
  </table>
</div>
