*{
    background-image: url("../images/background.jpg");
    color: white;
}
#mainHead{
    text-align: center;
    font-size: 50px;
    margin: 0px;
}
#headSpan{
    margin-left: 10px;
}
#homeLogo{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}
form {
    background-color: #FFF;
    height: 20px;
    margin-right: auto;
    margin-left: 15%;
    margin-top: 0px;
    margin-bottom: 70px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0px;
    text-align:center;
}
label {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    height: 20px;
    width: 200px;
    margin-top: 3%;
    text-align: left;
    clear: both;
    float:left;
}
input[type=text], select, input[type=month] {
    height: 20px;
    width: 300px;
    border: 1px solid #000;
    margin-top: 3%;
    float: left;
}

#btnBlockNameSubmit, #btnCrimeTypeSubmit, #btnYearSubmit{
    height: 20px;
    width: 100px;
    cursor: pointer;
    border: 1px solid #000;
    margin-top: 3%;
    margin-left: 20px;
    float: left;
}

table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    overflow: auto;
}
  
table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
    overflow: auto;
}
#tableArea{
    height: 400px;
    overflow: auto;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item {
    padding: 0px;
    font-size: 30px;
    /* text-align: center; */
}
select option{
    color:black;
    background-color: white;
}
#recentCrimesTableBody tr:nth-child(even){background-color: gray}